.main {
	background-color: $background;
	box-shadow: 0px 15px 10px -15px rgba($color: #111, $alpha: 0.5);
	position: sticky;
	z-index: 1;
	top: 0;

	#responsive-navbar {
		padding-top: 7px;
	}

	.navbar-nav .nav-link {
		color: #fff;
		padding-right: 1rem;
		padding-left: 1rem;
	}

	.navbar-nav:hover .nav-link:hover {
		color: $primary-color;
	}
}
